@{
    ViewBag.Title = "LinkedIn Talent Solutions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/jobpostform.css">
<div class="body-container">
            <div class="login-container">
                <div class="heading">
                    <h1 style="color: #191919; font-weight: 500; margin-bottom: 5px;">Find a great hire, fast</h1>
                    <p style="color: #191919; font-size: small;">Rated #1 in delivering quality hires</p>
                </div>
                <form action="" method="POST" class="login-form">
                    <input type="text" placeholder="Job title" required>
                    <input type="text" placeholder="Company name" required>
                    <select name="" id="" required>
                        <option value="">On-Site</option>
                        <option value="">Hybrid</option>
                        <option value="">Remote</option>
                    </select>
                    <input type="text" placeholder="Job Location" required>
                    <input type="text" placeholder="Employment type" required>
                    
                    <button>Post the job</button>
                </form>
                
    
    
            </div>
        </div>

