@{
    ViewBag.Title = "Jobs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .Jobs-link{
        border-bottom: 2px solid black;
    }
</style>
<link rel="stylesheet" href="~/css/project.css">
<div class="news-feed-container">
            
             @Html.Partial("~/Views/Shared/_NewsProfile.cshtml")


            <div class="job-posting-container">
                <div class="job-posting-heading">
                    <h2>Recommended for you</h2>
                    <p>Based on your profile and search history</p>
                </div>
                

                <div class="job-posting-job">
                    <div class="job-details">
                        <div class="job-details-logo">
                            <img src="~/images/tesla.jpg" alt="" srcset="">
                        </div>
                        <div class="job-details-details">
                            <h2>On Site Engineer</h2>
                            <p>Tesla</p>
                            <p>Lahore , Pakistan (on-site)</p>
                            <p>one day ago</p>
                        </div>
                    </div>
                    <div class="submit-cv-container ">
                        <button class="submit-cv-button">Submit CV</button>
                    </div>
                </div>


                <div class="job-posting-job">
                    <div class="job-details">
                        <div class="job-details-logo">
                            <img src="~/images/google.png" alt="" srcset="">
                        </div>
                        <div class="job-details-details">
                            <h2>Need AI Engineer</h2>
                            <p>Google</p>
                            <p>Lahore , Pakistan (on-site)</p>
                            <p>one day ago</p>
                        </div>
                    </div>
                    <div class="submit-cv-container ">
                        <button class="submit-cv-button">Submit CV</button>
                    </div>
                </div>

                <div class="job-posting-job">
                    <div class="job-details">
                        <div class="job-details-logo">
                            <img src="~/images/microsoft.jpg" alt="" srcset="">
                        </div>
                        <div class="job-details-details">
                            <h2>Need C# developer urgent basis</h2>
                            <p>Microsoft</p>
                            <p>Lahore , Pakistan (on-site)</p>
                            <p>one day ago</p>
                        </div>
                    </div>
                    <div class="submit-cv-container ">
                        <button class="submit-cv-button">Submit CV</button>
                    </div>
                </div>



                <div class="job-posting-job">
                    <div class="job-details">
                        <div class="job-details-logo">
                            <img src="~/images/tesla.jpg" alt="" srcset="">
                        </div>
                        <div class="job-details-details">
                            <h2>Need automation Engineer for Full Time</h2>
                            <p>Tesla</p>
                            <p>Lahore , Pakistan (Remote)</p>
                            <p>one day ago</p>
                        </div>
                    </div>
                    <div class="submit-cv-container ">
                        <button class="submit-cv-button">Submit CV</button>
                    </div>
                </div>


                <div class="job-posting-job">
                    <div class="job-details">
                        <div class="job-details-logo">
                            <img src="~/images/google.png" alt="" srcset="">
                        </div>
                        <div class="job-details-details">
                            <h2>Need REACT/PHP LARAVEL developer for Full Time</h2>
                            <p>Google</p>
                            <p>Lahore , Pakistan (on-site)</p>
                            <p>one day ago</p>
                        </div>
                    </div>
                    <div class="submit-cv-container ">
                        <button class="submit-cv-button">Submit CV</button>
                    </div>
                </div>

                <div class="job-posting-job">
                    <div class="job-details">
                        <div class="job-details-logo">
                            <img src="~/images/microsoft.jpg" alt="" srcset="">
                        </div>
                        <div class="job-details-details">
                            <h2>Need C# developer urgent basis</h2>
                            <p>Microsoft</p>
                            <p>Lahore , Pakistan (on-site)</p>
                            <p>one day ago</p>
                        </div>
                    </div>
                    <div class="submit-cv-container ">
                        <button class="submit-cv-button">Submit CV</button>
                    </div>
                </div>





                <div class="job-posting-job">
                    <div class="job-details">
                        <div class="job-details-logo">
                            <img src="~/images/tesla.jpg" alt="" srcset="">
                        </div>
                        <div class="job-details-details">
                            <h2>On Site Engineer</h2>
                            <p>Tesla</p>
                            <p>Lahore , Pakistan (on-site)</p>
                            <p>one day ago</p>
                        </div>
                    </div>
                    <div class="submit-cv-container ">
                        <button class="submit-cv-button">Submit CV</button>
                    </div>
                </div>


                <div class="job-posting-job">
                    <div class="job-details">
                        <div class="job-details-logo">
                            <img src="~/images/google.png" alt="" srcset="">
                        </div>
                        <div class="job-details-details">
                            <h2>Need AI Engineer</h2>
                            <p>Google</p>
                            <p>Lahore , Pakistan (on-site)</p>
                            <p>one day ago</p>
                        </div>
                    </div>
                    <div class="submit-cv-container ">
                        <button class="submit-cv-button">Submit CV</button>
                    </div>
                </div>

                <div class="job-posting-job">
                    <div class="job-details">
                        <div class="job-details-logo">
                            <img src="~/images/microsoft.jpg" alt="" srcset="">
                        </div>
                        <div class="job-details-details">
                            <h2>Need C# developer urgent basis</h2>
                            <p>Microsoft</p>
                            <p>Lahore , Pakistan (on-site)</p>
                            <p>one day ago</p>
                        </div>
                    </div>
                    <div class="submit-cv-container ">
                        <button class="submit-cv-button">Submit CV</button>
                    </div>
                </div>



                <div class="job-posting-job">
                    <div class="job-details">
                        <div class="job-details-logo">
                            <img src="~/images/tesla.jpg" alt="" srcset="">
                        </div>
                        <div class="job-details-details">
                            <h2>Need automation Engineer for Full Time</h2>
                            <p>Tesla</p>
                            <p>Lahore , Pakistan (Remote)</p>
                            <p>one day ago</p>
                        </div>
                    </div>
                    <div class="submit-cv-container ">
                        <button class="submit-cv-button">Submit CV</button>
                    </div>
                </div>


                <div class="job-posting-job">
                    <div class="job-details">
                        <div class="job-details-logo">
                            <img src="~/images/google.png" alt="" srcset="">
                        </div>
                        <div class="job-details-details">
                            <h2>Need REACT/PHP LARAVEL developer for Full Time</h2>
                            <p>Google</p>
                            <p>Lahore , Pakistan (on-site)</p>
                            <p>one day ago</p>
                        </div>
                    </div>
                    <div class="submit-cv-container ">
                        <button class="submit-cv-button">Submit CV</button>
                    </div>
                </div>

                <div class="job-posting-job">
                    <div class="job-details">
                        <div class="job-details-logo">
                            <img src="~/images/microsoft.jpg" alt="" srcset="">
                        </div>
                        <div class="job-details-details">
                            <h2>Need C# developer urgent basis</h2>
                            <p>Microsoft</p>
                            <p>Lahore , Pakistan (on-site)</p>
                            <p>one day ago</p>
                        </div>
                    </div>
                    <div class="submit-cv-container ">
                        <button class="submit-cv-button">Submit CV</button>
                    </div>
                </div>











            </div>


            @Html.Partial("~/Views/Shared/_Recommendation.cshtml")
        </div>
