@{
    ViewBag.Title = "Jobs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .Jobs-link{
        border-bottom: 2px solid black;
    }
    .job-posting-post-job-button {
    display: flex;
    width: 90%;
    background-color: white;
    height: max-content;
    margin-bottom: 40px;
}

    .job-posting-post-job-button a{
        display: flex;
        align-items: center;
        background-color: white;
        border: 2px solid #2867B2;
        border-radius: 25px;
        width: max-content;
        color: #2867B2;
        padding-left: 18px;
        padding-right: 20px;
        height: 50px;
        text-decoration:none;
    }

        .job-posting-post-job-button a i {
            font-size: 20px;
            margin-right: 10px;
        }
</style>
<link rel="stylesheet" href="~/css/prooject.css">
<div class="news-feed-container">
            
             @Html.Partial("~/Views/Shared/_NewsProfile.cshtml")


            <div class="job-posting-container">
                <div class="job-posting-heading">
                    <h2>Recommended for you</h2>
                    <p>Based on your profile and search history</p>
                </div>
                
                <div class="job-posting-post-job-button">
                    <a asp-action="JobPostForm"><i class="fa fa-briefcase" aria-hidden="true"></i>&nbsp;Post a new job</a>
                </div>

                @await Component.InvokeAsync("Jobs")
               



            </div>


            @Html.Partial("~/Views/Shared/_Recommendation.cshtml")
        </div>
