@using LinkedIn.Models
@model User
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login I</title>
    <style>
        *{
            margin: 0%;
            padding: 0;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        .container{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            height: max-content;
            
        }
        .navbar{
            display: flex;
            width: 100%;
            height: max-content;
            align-items: center;
            justify-content: flex-start;
        }
        .logo-container{
            display: flex;
            margin: 25px;
        }
        .logo-container img{
            height: 80px;
            
        }





        .login-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;
            width: 30%;
            height: 500px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
        }
        .heading{
            width: 80%;
        }
        .login-form{
            display: flex;
            flex-direction: column;
            width: 80%;
            align-items: center;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        input{
            display: flex;
            
            height: 40px;
            border-radius: 5px;
            border: 1px solid #191919;
            width: 100%;
            padding-left: 10px;
            margin-bottom: 20px;
        }
        button{
            width: 100%;
            height: 50px;
            background-color: #0A66C2;
            border: none;
            border-radius: 25px;
            color: white;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="logo-container">
                <img src="images\logo.png" alt="logo">
            </div>
        </div>
        <div class="login-container">
            <div class="heading">
                <h1 style="color: #191919; font-weight: 500; margin-bottom: 5px;">Sign In</h1>
                <p style="color: #191919; font-size: small;">Stay updated on your professional world</p>
            </div>
            <form action="/User/Login"  method="POST" class="login-form">
                <input asp-for="Email"   placeholder="Email">
                <input asp-for="Password"     placeholder="Password" >
                <a style="display: flex; width: 100%; text-decoration: none; margin-bottom: 25px;" href="#">Forgot password</a>
                <button type="submit" >Sign In</button>
            </form>
            <div>
                <span>New to linked In</span>
                <a href="#">join now</a>
            </div>
            

        </div>
    </div>
</body>
</html>
