@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/project.css">
<div class="news-feed-container">
            <div class="news-feed-profile">
                <img class="new-feed-profile-img" src="~/images/person.jpg" alt="" srcset="">
                <h2 class="new-feed-profile-name">Muhammad Maaz</h2>
                <h4 class="new-feed-profile-tagline">REACT JS | Laravel Developer | SOFTWARE ENGINEER |
                    Community Member of MLSA Lahore</h4>
            </div>
            <div class="news-feed-news">
                <div class="news-feed-news-news">
                    <div class="news-feed-news-news-person">
                        <img src="~/images/person.jpg" alt="" srcset="">
                        <h5>Maaz Javaid</h5>
                    </div>
                    <div class="news-feed-news-news-image">
                        <img src="~/images/news.jpg" alt="" srcset="">
                    </div>
                    <div class="news-feed-news-news-likes">
                        <i class="fa fa-thumbs-o-up" style="color: #2867B2;" aria-hidden="true"></i>&nbsp; 87 likes
                    </div>
                    <div class="news-feed-news-news-like">
                        <div><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;Like</div>
                        <div><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;Comment</div>
                        <div><i class="fa fa-share-alt" aria-hidden="true"></i>&nbsp;Share</div>
                        <div><i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;Send</div>
                    </div>
                </div>


                <div class="news-feed-news-news">
                    <div class="news-feed-news-news-person">
                        <img src="~/images/person2.jpg" alt="" srcset="">
                        <h5>Usama Ijaz</h5>
                    </div>
                    <div class="news-feed-news-news-image">
                        <img src="~/images/news.jpg" alt="" srcset="">
                    </div>
                    <div class="news-feed-news-news-likes">
                        <i class="fa fa-thumbs-o-up" style="color: #2867B2;" aria-hidden="true"></i>&nbsp; 66 likes
                    </div>
                    <div class="news-feed-news-news-like">
                        <div><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;Like</div>
                        <div><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;Comment</div>
                        <div><i class="fa fa-share-alt" aria-hidden="true"></i>&nbsp;Share</div>
                        <div><i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;Send</div>
                    </div>
                </div>



                <div class="news-feed-news-news">
                    <div class="news-feed-news-news-person">
                        <img src="~/images/person4.jpg" alt="" srcset="">
                        <h5>Faizan Ijaz</h5>
                    </div>
                    <div class="news-feed-news-news-image">
                        <img src="~/images/news.jpg" alt="" srcset="">
                    </div>
                    <div class="news-feed-news-news-likes">
                        <i class="fa fa-thumbs-o-up" style="color: #2867B2;" aria-hidden="true"></i>&nbsp; 107 likes
                    </div>
                    <div class="news-feed-news-news-like">
                        <div><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;Like</div>
                        <div><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;Comment</div>
                        <div><i class="fa fa-share-alt" aria-hidden="true"></i>&nbsp;Share</div>
                        <div><i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;Send</div>
                    </div>
                </div>






            </div>
            <div class="news-feed-recomendation">
                <h2 class="news-feed-recomendation-heading">Add to your feed</h1>
                    <div class="news-feed-recomendation-recomendation">
                        <img src="~/images/tesla.jpg" alt="" srcset="">
                        <div>
                            <h4>Tesla</h4>
                            <p> automotive and clean energy company</p>
                        </div>
                    </div>
                    <div class="news-feed-recomendation-recomendation">
                        <img src="~/images/microsoft.png" alt="" srcset="">
                        <div>
                            <h4>Microsoft</h4>
                            <p>technology corporation which produces computer software</p>
                        </div>
                    </div>
                    <div class="news-feed-recomendation-recomendation">
                        <img src="~/images/google.png" alt="" srcset="">
                        <div>
                            <h4>Google</h4>
                            <p>multinational technology company that focuses on artificial intelligence</p>
                        </div>
                    </div>
            </div>
        </div>
