@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .home-link{
        border-bottom: 2px solid black;
    }
</style>
<link rel="stylesheet" href="~/css/project.css">
<div class="news-feed-container">
           
    
           @Html.Partial("~/Views/Shared/_NewsProfile.cshtml")
            
            <div class="news-feed-news">
                <div class="news-feed-news-news">
                    <div class="news-feed-news-news-person">
                        <img src="~/images/person.jpg" alt="" srcset="">
                        <h5>Maaz Javaid</h5>
                    </div>
                    <div class="news-feed-news-news-image">
                        <img src="~/images/twitter.png" alt="" srcset="">
                    </div>
                    <div class="news-feed-news-news-likes">
                        <i class="fa fa-thumbs-o-up" style="color: #2867B2;" aria-hidden="true"></i>&nbsp; 87 likes
                    </div>
                    <div class="news-feed-news-news-like">
                        <div><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;Like</div>
                        <div><i class="fa fa-comment" aria-hidden="true"></i>&nbsp;Comment</div>
                        <div><i class="fa fa-share-alt" aria-hidden="true"></i>&nbsp;Share</div>
                        <div><i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;Send</div>
                    </div>
                </div>


                <div class="news-feed-news-news">
                    <div class="news-feed-news-news-person">
                        <img src="~/images/person1.jpg" alt="" srcset="">
                        <h5>Usama Ijaz</h5>
                    </div>
                    <div class="news-feed-news-news-image">
                        <img src="~/images/tesla.jpg" alt="" srcset="">
                    </div>
                    <div class="news-feed-news-news-likes">
                        <i class="fa fa-thumbs-o-up" style="color: #2867B2;" aria-hidden="true"></i>&nbsp; 66 likes
                    </div>
                    <div class="news-feed-news-news-like">
                        <div><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;Like</div>
                        <div><i class="fa fa-comment" aria-hidden="true"></i>&nbsp;Comment</div>
                        <div><i class="fa fa-share-alt" aria-hidden="true"></i>&nbsp;Share</div>
                        <div><i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;Send</div>
                    </div>
                </div>



                <div class="news-feed-news-news">
                    <div class="news-feed-news-news-person">
                        <img src="~/images/person3.jpg" alt="" srcset="">
                        <h5>Faizan Ijaz</h5>
                    </div>
                    <div class="news-feed-news-news-image">
                        <img src="~/images/twitter.png" alt="" srcset="">
                    </div>
                    <div class="news-feed-news-news-likes">
                        <i class="fa fa-thumbs-o-up" style="color: #2867B2;" aria-hidden="true"></i>&nbsp; 107 likes
                    </div>
                    <div class="news-feed-news-news-like">
                        <div><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;Like</div>
                        <div><i class="fa fa-comment" aria-hidden="true"></i>&nbsp;Comment</div>
                        <div><i class="fa fa-share-alt" aria-hidden="true"></i>&nbsp;Share</div>
                        <div><i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;Send</div>
                    </div>
                </div>






            </div>
    @Html.Partial("~/Views/Shared/_Recommendation.cshtml")
        </div>