@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/project.css">
<div class="news-feed-container">
            <div class="news-feed-profile">
                <img class="new-feed-profile-img" src="~/images/person.jpg" alt="" srcset="">
                <h2 class="new-feed-profile-name" >Muhammad Maaz</h2>
                <h4 class="new-feed-profile-tagline" >REACT JS | Laravel Developer | SOFTWARE ENGINEER |
                     Community Member of MLSA Lahore</h4>
            </div>
            <div class="news-feed-news">

            </div>
            <div class="news-feed-recomendation">
                <h2 class="news-feed-recomendation-heading">Add to your feed</h1>
                <div class="news-feed-recomendation-recomendation">
                    <img src="~/images/tesla.jpg" alt="" srcset="">
                    <div>
                        <h4>Tesla</h4>
                        <p> automotive and clean energy company</p>
                    </div>
                </div>
                <div class="news-feed-recomendation-recomendation">
                    <img src="~/images/microsoft.png" alt="" srcset="">
                    <div>
                        <h4>Microsoft</h4>
                        <p>technology corporation which produces computer software</p>
                    </div>
                </div>
                <div class="news-feed-recomendation-recomendation">
                    <img src="~/images/google.png" alt="" srcset="">
                    <div>
                        <h4>Google</h4>
                        <p>multinational technology company that focuses on artificial intelligence</p>
                    </div>
                </div> 
            </div>
        </div>
