/*///////////////////////////////////NEWS CSS///////////////////////////////////////*/

.news-feed-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 30px;
    /* align-items: center; */
}

.news-feed-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    background-color: white;
    border-radius: 15px;
    max-height: 350px;
}



.news-feed-recomendation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    background-color: white;
    max-height: 350px;
    border-radius: 15px;
}

.new-feed-profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 30px;
}

.new-feed-profile-name {
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: white;
}

.new-feed-profile-tagline {
    text-align: center;
    margin-bottom: 30px;
    background-color: white;
}

.news-feed-recomendation-recomendation {
    width: 90%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-top: 10px;
}

    .news-feed-recomendation-recomendation img {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        margin-right: 10px;
    }

.news-feed-recomendation-heading {
    background-color: white;
    margin-bottom: 5px;
}

.news-feed-recomendation-recomendation div {
    background-color: white;
}

    .news-feed-recomendation-recomendation div h4 {
        background-color: white;
    }

    .news-feed-recomendation-recomendation div p {
        font-size: 10px;
        background-color: white;
    }

.news-feed-news {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 40%;
    height: 500px;
    overflow-y: scroll;
    /* background-color: black; */
    /* margin-right: 5%;
          margin-left: 5%; */
}

.news-feed-news-news {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    border: solid 1px #E3E2DF;
    width: 100%;
}

.news-feed-news-news-person {
    display: flex;
    background-color: white;
    align-items: center;
    width: 100%;
    border-top-left-radius: 15px;
}

    .news-feed-news-news-person img {
        height: 40px;
        width: 40px;
        margin: 15px;
        border-radius: 50%;
    }

    .news-feed-news-news-person h5 {
        background-color: white;
    }

.news-feed-news-news-image {
    max-height: 500px;
    width: 100%;
}

    .news-feed-news-news-image img {
        width: 100%;
        height: 100%;
    }

.news-feed-news-news-likes {
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom: solid lightgrey 2px;
    width: 90%;
    height: 30px;
}

.news-feed-news-news-like {
    display: flex;
    width: 100%;
    background-color: white;
    border-radius: 15px;
}

    .news-feed-news-news-like div {
        display: flex;
        width: 25%;
        background-color: white;
        align-items: center;
        border-radius: 15px;
        justify-content: center;
        height: 50px;
    }

        .news-feed-news-news-like div i {
            color: #979797;
            background-color: white;
        }


/* width */
.news-feed-news::-webkit-scrollbar {
    width: 6px;
}

/* Track */
.news-feed-news::-webkit-scrollbar-track {
    background: #e7e5e5;
    border-radius: 15px;
}

/* Handle */
.news-feed-news ::-webkit-scrollbar-thumb {
    background: rgb(204, 201, 201);
}

    /* Handle on hover */
    .news-feed-news ::-webkit-scrollbar-thumb:hover {
        background: rgb(211, 211, 211);
    }

/*///////////////////////////////NEWS CSS END////////////////////////////////////////*/


@media screen and (max-width: 900px) {
    .profile_container {
        display: flex;
        flex-direction: column;
        width: 80%;
        max-height: max-content;
        border-radius: 15px;
        margin-top: 30px;
    }

    .image_container {
        display: flex;
        min-height: 400px;
        width: 100%;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0px;
        background-color: white;
    }

        .image_container img {
            width: 300px;
            margin: 10px;
            height: 300px;
            border-radius: 50%;
        }

    .info_container {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 300px;
        background-color: #2867B2;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        color: white;
        justify-content: flex-start;
        align-items: center;
    }

    .info_container_data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info_container_name {
        margin: 40px;
    }
}

@media screen and (max-width: 750px) {
    .profile_container {
        width: 95%;
    }

    .analytics {
        display: flex;
        width: 95%;
        background-color: white;
        height: max-content;
        margin: 30px;
        border-radius: 15px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .analytics_heading {
        display: flex;
        width: 80%;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .data {
        display: flex;
        flex-direction: column;
        width: 80%;
        justify-content: space-between;
        margin-bottom: 30px;
    }

        .data div {
            margin: 15px;
        }
}

@media screen and (max-width: 500px) {
    .profile_container {
        width: 95%;
    }
}
