<div class="news-feed-profile">
                <img class="new-feed-profile-img" src="~/images/person.jpg" alt="" srcset="">
                <h2 class="new-feed-profile-name">Muhammad Maaz</h2>
                <h4 class="new-feed-profile-tagline">REACT JS | Laravel Developer | SOFTWARE ENGINEER |
                    Community Member of MLSA Lahore</h4>
                 <div class="new-feed-profile-more-info">
                    <div>
                        <i class="fa fa-briefcase"  aria-hidden="true"></i>&nbsp;Works at Avicenna
                    </div>
                    <div>
                        <i style=" font-size:medium;" class="fa fa-graduation-cap"  aria-hidden="true"></i>&nbsp;University of Punjab
                    </div>
                 </div>   
            </div>
