<div class="news-feed-recomendation">
                          <div class="news-feed-recomendation-heading-container">
                            <h2 class="news-feed-recomendation-heading">Add to your feed</h1>
                          </div>          
                
                    <div class="news-feed-recomendations-container">


                        <div class="news-feed-recomendation-recomendation">
                            <img src="~/images/tesla.jpg" alt="" srcset="">
                            <div>
                                <h4>Tesla</h4>
                                <p> Automotive and clean energy company</p>
                            </div>
                        </div>
                        <div class="news-feed-recomendation-recomendation">
                            <img src="~/images/microsoft.jpg" alt="" srcset="">
                            <div>
                                <h4>Microsoft</h4>
                                <p>Technology corporation which produces computer software</p>
                            </div>
                        </div>
                        <div class="news-feed-recomendation-recomendation">
                            <img src="~/images/google.png" alt="" srcset="">
                            <div>
                                <h4>Google</h4>
                                <p>Technology company that focuses on AI</p>
                            </div>
                        </div>
                        

                        <div class="news-feed-recomendation-recomendation">
                            <img src="~/images/twitter.png" alt="" srcset="">
                            <div>
                                <h4>Twitter</h4>
                                <p>Twitter, Inc. is an American communications company</p>
                            </div>
                        </div>





                    </div>
                    
            </div>